body, html {
    height: 100%;
    margin: 0;
}
.bgMain {
    /* The image used */
    background-image: url("../Images/bgImage.png");
    /* Full height */
    /* Center and scale the image niceFly */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height:400px;
}
.mainTitle{
    margin-top:150px;
    font-weight:bold;
    font-size:40px;
    color:white;    
    margin-bottom:0px;
}
.sideTitle{
    color:white;
    font-size:12px;
    text-align:center
}
.learnMoreBtn{
    font-size:10px;
    border-radius:10px;
    padding:5px;
}
hr{
    width:40%;
}
button{
    outline:none;
}