li{
    float:left;
    list-style-type: none;
    padding: 15px 15px 15px 15px;
    color:black;
    font-size:12px;
    line-height: 50px;
  }
ul{
  overflow: hidden;
  padding:0;
  margin:0;
  height: 80px;
  line-height: 50px;
}
li:hover{
  color:#42b4e8;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #42b4e8;
}
.logo{
  width: 65px;
  height:65px;
  padding: 10px 0px 10px 0px;
}
.fas{
  line-height: 50px;
}