
ul{
  overflow: hidden;
  padding:0;
  margin:0;
  height: 80px;
  line-height: 50px;
}
li:hover{
  color:#42b4e8;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #42b4e8;
}
.logo{
  width: 65px;
  height:65px;
  padding: 10px 0px 10px 0px;
}
